@font-face {
  font-family: 'Electroharmonix';
  src: url('../fonts/electroharmonix.ttf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #EEDAAE;
  color: #333;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family:'Electroharmonix';
}

/* Style the container for the moon and text */
.hero-container {
  position: relative; 
  width: fit-content; 
  margin: 150px auto 0 auto;
}

/* Position the moon image normally within the container */
img.logo {
  display: block;
}

/* Position the text absolutely on top of the moon */
.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family:'Electroharmonix';
  color: #000000;
  z-index: 1;
}

/* Updated h1 rule with 'white-space: nowrap;' */
.hero-text h1 {
  font-size: 5rem; /* Adjust this value as needed */
  margin: 0;
  line-height: 1;
  white-space: nowrap; /* This is the key to prevent text wrapping */
}

.hero-text p {
  font-size: 2.5rem; /* Adjust this value as needed */
  margin: 10px 0 0 0; 
}